// Paths
$imageDir: '../images/';
$iconsDir: '../icons/';
$fontDir: '../fonts/';

// Grid
$commonWidth: 1204px;
$gutter: 20px;

// Fonts
$ProximaNova: 'ProximaNova', Arial, Tahoma, sans-serif;

// Colors
$white: #FFF;
$black: #000;
$grey: #232323;
$lightGrey: #F3F5F7;
$mainBlue: #00DCFF;
$darkBlue: #00A5F6;
$greyBlue: #4E6274;
 