@import '../helpers/variables';
@import '../helpers/mixins';


.bottom-bar {
  display: flex; 
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  padding-top: 50px;
  border-top: 1px solid rgba(255,255,255,.2);
  @include breakpoint (md) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media (max-width: 415px) {
    align-items: center;
    min-width: 260px;
  }
}

.bottom-bar__logo-wrapper {
  width: 11%;
  @include breakpoint (md) {
    width: 100%;
  }
  @media (max-width: 415px) {
   text-align: center;
  }
}

.bottom-bar__list {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  @include breakpoint (md) {
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
  }
  @media (max-width: 415px) {
    flex-direction: column;
    text-align: center;
  }
}

.bottom-bar__item:not(:first-of-type) {
  margin-left: 20px;
  @media (max-width: 415px) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.bottom-bar__link {
  font-size: 14px; 
  color: inherit;
  transition: color .3s ease-out;
  &:hover {
    color: $mainBlue;
  }
}

.bottom-bar__paragraph {
  margin-top: 20px;
  max-width: 300px;
  font-size: 16px;
  line-height: 24px;
  opacity: .7;
  @media (max-width: 415px) {
    text-align: center;
   }
}