@import '../helpers/variables';
@import '../helpers/mixins';


.main-footer {
  padding: 80px 0 40px;
  color: $white;
  background: $greyBlue url("../images/footer-background.jpg") center no-repeat;  
}

.main-footer__container {
  flex-direction: column;
}

.main-footer__title {
  font-weight: 400;
  font-size: 72px;
  color: inherit;
  @media (max-width: 933px) {
    font-size: 64px;
  }
  @include breakpoint (md) {
    font-size: 56px;
  }
  @include breakpoint (sm) {
    font-size: 38px;
  }
}

.main-footer__name {
  margin-top: 40px;
  font-size: 18px;
  color: inherit;
  @include breakpoint (sm) {
    font-size: 16px;
  }
}

.main-footer__main-contacts {
  margin-top: 15px;
  color: inherit;
}

.main-footer__add-contacts {
  margin-top: 50px;
}