@import '../helpers/variables';
@import '../helpers/mixins';


.main-header {
  padding: 70px 0 40px;
  background: $greyBlue url("../images/banner-background.jpg") no-repeat;
  background-size: cover;
  @include breakpoint(lg) {
    background-position: center;
  } 
  @include breakpoint(sm) {
    padding: 40px 0 40px;
  } 
}

.main-header__container {
  position: relative;
}  