@import '../helpers/variables';
@import '../helpers/mixins';


.top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 729px) {
    align-items: flex-end;
  }
  @media (max-width: 729px) {
    flex-direction: column;  
    align-items: flex-end;
    min-width: 260px;
    //margin-left: auto;
  }
}

.top-bar__logo {
  @media (max-width: 729px) {
    margin-bottom: 20px;
  }
  @include breakpoint (sm) {
    width: 200px;
  }
}

.top-bar__logo-image {
  width: 100%;
  height: auto;
}

.top-bar__phone {
  margin-left: 20px;
  font-size: 24px;
  color: $white;
  @media (max-width: 729px) {
    order: 0;
  }
  @media (max-width: 729px) {
    margin-left: 0;
  }
  @include breakpoint (sm) {
    font-size: 18px;
    text-align: right;
  }
}

.top-bar__phone-link {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.top-bar__phone-text {
  display: block;
  font-size: 15px;
  @include breakpoint (sm) {
    font-size: 12px;
  }
}