@import '../helpers/variables';
@import '../helpers/mixins';


.transport {
  padding: 20px 0 140px;
}

.transport__title {
  width: 100%;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  @include breakpoint (md) {
    font-size: 38px;
  }
}

.transport__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  @media (max-width: 590px) {
    width: 260px;
    margin: 80px auto 0;
  }
}

.transport__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  @media (max-width: 1038px) {
    justify-content: space-around;
  }
  @include breakpoint (lg) {
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 590px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.transport__item:not(:last-of-type) {
  margin-bottom: 50px;
  @media (max-width: 590px) {
    margin-bottom: 70px;
  }
}

.transport__image-wrapper {
  min-width: 247px;
  @include breakpoint (lg) {
    width: calc((100% - 50px) / 2);
    text-align: right;
    margin-bottom: 30px;
  }
  @media (max-width: 590px) {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
}

.transport__description {
  @include breakpoint (lg) {
    width: calc((100% - 50px) / 2);
    margin-left: 50px;
    margin-bottom: 30px;
  }
  @media (max-width: 590px) {
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 17px;
  }
}

.transport__capacity {
  max-width: 135px;
  @include breakpoint (lg) {
    width: calc((100% - 50px) / 2);
    max-width: 50%;
    text-align: right;
  }
  @media (max-width: 590px) {
    width: 100%;
    margin-top: 20px;
    padding-left: 17px;
    text-align: left;
  }
}

.transport__capacity-image-wrapper {
  min-width: 221px;
  @include breakpoint (lg) {
    width: calc((100% - 50px) / 2);
    margin-left: 50px;
    margin-top: 20px;
  }
  @media (max-width: 590px) {
    width: 100%;
    margin-left: 0;
    padding-left: 10px;
  }
}

.transport__subtitle {
  font-weight: 400;
  font-size: 18px;
}

.transport__sublist,
.transport__capacity {
  font-size: 14px;
}

.transport__button {
  align-self: center;
  padding: 15px 45px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid $darkBlue;
  background-color: $white;
  transition: background-color .3s ease-out;
  &:hover {
    background-color: $darkBlue;
    color: $white;
  }
  @include breakpoint (lg) {
    margin-top: 30px;
  }
  @media (max-width: 590px) {
    width: 100%;
  }
}


