@import '../helpers/variables';
@import '../helpers/mixins';


.video-block {
  background: $darkBlue url("../images/background-video.jpg") center no-repeat;
  background-size: cover;
}

.video-block__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-block__youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}